#components-layout-demo-custom-trigger .trigger {
    font-size: 20px;
    line-height: 64px;
    padding: 0 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }

  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
  }